.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form button[type='submit'] {
  border-radius: 8px;
  height: 30px;
  padding: 1.2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  background-color: #41d635;
  cursor: pointer;
  transition: 0.2s;
}

.form button[type='submit']:hover {
  transform: scale(1.01);
}

.form button[type='submit']:active {
  transform: scale(1);
}
