.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
  background: #002650;
  height: 8svh;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;
}

.navigation a {
  text-decoration: none;
  padding: 0.5em;
  transition: 0.3s;
}

.navigation a:hover,
.navigation a.active {
  background: #0050a0;
}
