.header {
    position: sticky;
    top: 0;
    z-index: 5;
    height: 12svh;
}

.navigation {
    display: flex;
    align-items: center;
    flex-flow: row;
    background: #002650;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;
}

.navigation a {
    text-decoration: none;
    padding: 2em 0;
    /* padding: 6px 15px; */
    border-radius: 20px;
    /* margin: 0 10px; */
    transition: .3s;
}

.navigation a:hover,
.navigation a.active {
    background: #0050A0;
}
