.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.label input {
  background-color: #fff;
  border: 1px solid #a3a3a3;
  height: 40px;
  padding: 0 1em;
  border-radius: 8px;
}

.label input:disabled {
  opacity: 0.8;
}

.label input:focus-visible,
.label textarea:focus-visible {
  outline: none;
  border: 1px solid #6f6f6f;
}

.label textarea {
  font-family: Arial;
  resize: none;
  background-color: #fff;
  border: 1px solid #a3a3a3;
  height: 60px;
  padding: 1em;
  border-radius: 8px;
}
