.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em 0;
    background-color: #002855;
    color: #fff;
    width: 14svw;
    height: 100svh;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.container {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.container a {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 2em 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: .3s;
}

.container a:hover {
    background-color: #0050A0;
}

.container a.active {
    background-color: #0050A0;
}
